.main {
  height: 90vh;
}

.center {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listUl {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  list-style-type: none;
}

.listLi {
  margin: 0px 30px;
}

.listA {
  text-decoration: none;
  color: black !important;
}

.listS {
  margin: 0px 10px 0px 0px;
}