.register {
    margin: auto;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dist {
    margin-top: 10px;
}

.fajkep {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 125px;
    border: 1px solid black;
    margin-top: 10px;
}